<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <networks>
      <network name="Facebook">
        <providers>
          <provider type="Sitecore.Social.Facebook.Networks.Providers.FacebookProvider, Sitecore.Social.Facebook" set:type="Sitecore.Support.Social.Facebook.Networks.Providers.FacebookProvider, Sitecore.Support.154876"/>
        </providers>
      </network>
    </networks>
  </sitecore>
</configuration>