<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <social>
      <networks>
        <network name="Facebook" AccountExpirationDays="60" ItemId="{D7429409-D6DA-46CD-91DD-8702781AE3C4}" prefix="fb" icon="facebook3" url="http://facebook.com">
          <providers>
            <provider type="Sitecore.Support.Social.Facebook.Networks.Providers.FacebookProvider, Sitecore.Support.154876" patch:instead="*[@type='Sitecore.Social.Facebook.Networks.Providers.FacebookProvider, Sitecore.Social.Facebook']"/>
          </providers>
        </network>
      </networks>
    </social>
  </sitecore>
</configuration>